body
{
  background-color: #F8F8F8;
  background-image: url("background_img.gif");
  background-position: 50% -40%;
  background-repeat: no-repeat;
}

nav
{
  float:left;
  margin-top: 45px;
  height: 50px;
  width: 80%%;
  background-color:#EE0000;
  border-style: solid;
  border-color: #CC0000;
  border-width: 4px;
}
nav ul{
  padding-left: 0px;

}
nav ul li
{

  display:inline-block;;
  height: 50px;
  width:100px;
  position:relative;

}
nav ul li a{
  color:#111111;
  padding: 20px 27px 20px 27px;
}
nav ul li a:hover{
  background-color:#CC0000;
}

.text{
  left: 0%;

  padding-right: 0px;
  margin-right: 0px;
  width: 49%;

}
.imagebar{

  height:30%;
  width: 50%;
  background-color:#CC0000;
}
