body
{
	background-color: #EEEEEE;
	padding:0; margin:0;
}

.mainbox
{
	margin-top: 1.5%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 1%;
	padding-bottom: 1%;
	height: 100%;
	border-style: none solid none solid;
	border-color: #EE0000;
	background-color: #FFFFFF;
}

.mainbox p
{
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

#logo
{
	float: left;
	background-color: #FFFFFF;
	width:140px;
	height:52.8px;
	padding-left: 4px;
	padding-right: 4px;
}

ul
{
	border-style: none none solid none;
	border-color: #EE0000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li
{
    float: left;
}

.tf
{
	float: right;
}

li a
{
	font-family: "Montserrat", sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.tf a
{
    background-color: #EE0000;
}

li a:hover
{
    background-color: #111111;
}

.tf a:hover
{
	background-color: #CC0000;
}

#foot
{
	margin-top: 0.5%;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 50%;
}
